body{
	font-family: 'Indie Flower', cursive;
	color: #286090;
	font-size: 24px;
}

li {
	font-size: 18px;
}
i.glyphicon-remove {
  color: red;
  float: right;
}

i.glyphicon-ok {
  color: orange;
  float: right;
  margin-right: 20px;
}

select{
width: 360px;
}

h1{
  color: red;
}

.done_container {
  display: flex;
  flex-direction: row;
  border:solid red;
}

.titles {
  border:solid red;
}
