<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1> Deif To do Lists:</h1>
      <h1>Create new To Do list:</h1>
          <form action="todo", id="new_to_do",
          " method="POST">
            <div class="form-group">
              <input class= "form-control" type="text" placeholder="Name" name=todo[name]">
            </div>
            <div class="form-group">
              <input class="btn btn-primary btn-block" type="submit" value="Create">
            </div>
          </form>
       <table class="table">
        <thead>
          <th>Name</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>
        <tbody>
          <% @todos.each do |todo| %>
          <td>todo.name</td>
          <td> show</td>
          <td> edit</td>
          <td> delete</td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>